<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.gachon.www">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".comu.Load">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".comu.Member"/>
        <activity android:name=".comu.Register"/>
        <activity android:name=".comu.Main"/>
        <activity android:name=".comu.Select_chapter"/>
        <activity android:name=".comu.Story"/>
        <activity android:name=".comu.Editor"/>
        <activity android:name=".comu.Free_board"/>
        <activity android:name=".comu.Show_code"/>
    </application>

</manifest>